---
interface Category {
  Name?: string;
  color?: string;
}
import Layout from "../layouts/Layout.astro";
import "../assets/Button.css";
import { books } from "../books/books";
const { book } = Astro.params;
const info = books.find((b) => b.id === book);
import Header from "../components/Header.astro";
import CategoriesPill from "../components/CategoriesPill.astro";
if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={`Libro ${info.title}`}>
  <Header />
  <main class="dark:text-white max-w-96 m-auto py-12 lg:max-w-5xl">
    <div class="md:grid md:grid-cols-2 md:gap-x-4">
      <div class="flex flex-col items-center">
        <picture
          class="mb-8 aspect-[325/500] object-cover w-full max-w-64 rounded"
        >
          <img
            class="w-full max-w-64 relative rounded object-cover aspect-[325/500]"
            src={info.img}
            alt={`Portada del libro ${info.title}`}
            style=`view-transition-name: book-${info.id}`
          />
        </picture>
        <div class="flex items-center gap-4 mb-2">
          <a class="bn39" href="/"><span class="bn39span">Leer</span></a>
          <a class="bn39" href="/"><span class="bn39span">Comprar</span></a>
        </div>
      </div>

      <aside class="mx-2">
        <h1 class="text-3xl md:text-6xl text-wrap font-black p-4">
          {info.title}
        </h1>
        <p class="text-lg text-justify">
          {`  ${info.opinion}`}
        </p>
        <br />
        <p class="text-lg text-justify">
          {info.opinionP2 ? info.opinionP2 : ""}
        </p>
        <br />
        <p class="text-2xl font-bold">
          Crafteado por: <span class="text-xl font-normal italic"
            >{info.autor}
          </span>
        </p>
        <br />
        <p class="flex items-center my-2">
          <strong>Generos</strong>: {
            info.categories?.map((category: Category) => (
              <CategoriesPill Name={category?.Name} color={category?.color} />
            ))
          }
        </p>
      </aside>
    </div>
  </main>
</Layout>
