---
import "../assets/Card.css";
interface Props {
  id: string;
  title: string;
  img: string;
}

const { id, title, img } = Astro.props;

function classReturn(title: string): string {
  const shortTitle = title.length > 30 ? title.slice(0, 25) + "..." : title;
  return shortTitle;
}
---

<li class="p-2 m-1">
  <a href={`/${id}`}>
    <p class={`p-2 font-sans text-center text-lg text font-semibold}`}>
      {`${classReturn(title)}`}
    </p>
    <img
      class="card hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl aspect-[325/500] object-cover w-full max-w-64 rounded"
      src={img}
      alt={`Portada de ${title}`}
      style=`view-transition-name: book-${id}`
    />
  </a>
</li>
